<%= form_with(model: @gonghao, local: true) do |form| %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :gonghao_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
